body {
    background-image:url(img/main_part.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;
    line-height: 1.2;
    
}
.logo{
    float: left;
    margin-top: 10px;
    padding-left: 100px;
    color: white;
} 


ul {
  list-style-type: none;
  padding-right: 150px;
}

li a {
  display: inline;
  text-align: center;
  float: right;
  margin: 20px;
  text-decoration: none;
  color: white;
}
a:hover{
    background-color: #FF6565;
}
a:active {
    color: #FF6565
}
.section-1{
    padding: 50px;
}
.div-1{
    color: white;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 25px;
}
.div-1 h1{
    padding-top: 300px;
    font-size: 32px;
    font-weight: bold;
}
.div-1 p{
    margin-top: 12px;
    font-weight: bold;
    font-size: 20px;
}
.p{
    line-height: 25px;
    color: white;
    font-weight: 25px;
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
    
}
button:hover {
    background-color: #FF6565;
}
button:active{
    opacity: 0.9
}
button{
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 50px;
    color: white;
    background-color: #FF6565;
    padding: 15px;
    height: 45px;
    width: 180px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.hamburger{
    display: none;
}

.section-2{
    width: 100%;
    background-color: white;
    color:black
}
.section-2 h1{
    margin-top: 55px;
    padding-top: 75px;
    padding-bottom: 45px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.section2-p{
    width: 40%;
    padding-top: 35px;
    padding-left: 550px;
    padding-bottom: 80px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.what-img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.what-img img{
    padding-left: 45px;
    padding-top: 10px;

}
.what-img h3{
    padding-top: 8px;
    font-size: 25px;
    text-align: center;
}
.what-img p{
    padding-top: 8px;
    text-align: center;
    margin-bottom: 75px;
    line-height: 15px;
}
.polygon-p{
    width: 40%;
    padding-top: 35px;
    padding-left: 550px;
    padding-bottom: 80px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.polygon-img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.centered {
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
.polygon-img img{
    padding-left: 45px;
    padding-top: 10px;

}
.contact{
    background-color: white;
    color: black;
    text-align: center;
}
.contact h1{
    font-size: 35px;
    padding: 50px;
    padding-bottom: 35px;
    font-weight: bold;
}
.contact-div{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.contact-div input, label{
    padding: 25px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #979797;
}
input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #979797;
}
input[type=message] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #979797;
}
footer{
    background-color: #071629;
    height: 249px;
    width: 100%;
    color: white;
    font-family: 'Source Sans Pro';
}
.i{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 100px 200px 0;
}
footer p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    opacity: 0.35;
}
.i-logo{
    transform: scale(1.5);
}

/* mobile styles*/
@media only screen and (max-width: 480px) {
    
    .nav-link{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .div-1{
        width: 85%;
        margin-left: 30px;
    }
    .p{
        width: 85%;
    }
    .section2-p {
        width: 60%;
        padding-top: 35px;
        padding-left: 90px;
        padding-bottom: 80px;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .what-img{
        flex-direction: column;
    }
    .what-img img {
        padding-left: 175px;
        padding-top: 10px;
    }
      
}


